%center
  %h1 My Wifi Cookie Jar
  %h2 ELEC3607 Arduino Project
  %h3 by Khanh Nguyen and Kevin Nguyen

  %img{:alt => "Cookie Jar is at #{@the_cookie_jar.level}%", :height => "500", :src => "cookie#{@level}.png", :width => "500"}

  .barcontainer
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: #{@the_cookie_jar.level}%;"}
    %center= "My cookie jar is #{@the_cookie_jar.level}% full."

%h1 Listing cookie_jars
%table
  %tr
    %th Level
    %th
    %th
    %th
  - @cookie_jars.each do |cookie_jar|
    %tr
      %td= cookie_jar.level
      %td= link_to 'Show', cookie_jar
      %td= link_to 'Edit', edit_cookie_jar_path(cookie_jar)
      %td= link_to 'Destroy', cookie_jar, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Cookie jar', new_cookie_jar_path